@tailwind base;
@tailwind components;
@tailwind utilities;

.remove_bg {
  filter: brightness(1.1);
  mix-blend-mode: darken;

}

.borde {
  border-top: 1px solid rgba(0, 0, 0, 0.219);
}

.rounded-btn {
  -webkit-border-top-right-radius: 120px !important;
  -webkit-border-bottom-right-radius: 120px !important;
  -webkit-border-bottom-left-radius: 200px !important;
  -moz-border-radius-topright: 120px !important;
  -moz-border-radius-bottomright: 120px !important;
  -moz-border-radius-bottomleft: 200px !important;
  border-top-right-radius: 120px !important;
  border-bottom-right-radius: 120px !important;
  border-bottom-left-radius: 200px !important;
  background: rgb(212, 69, 69) !important;
  background: linear-gradient(80deg, rgba(212, 69, 69, 1) 0%, rgba(60, 33, 56, 1) 54%, rgba(60, 33, 56, 1) 100%) !important;
}

.image-gradient {
  position: relative;
}

.image-gradient::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* Ajusta este valor según la altura del difuminado que desees */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  /* Ajusta los colores y opacidades según tus necesidades */
  pointer-events: none;
}

.bg-body__gradient {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 61%, rgba(238,235,209,1) 84%, rgba(255,255,255,1) 100%);}